body {
    background-color: #ffffff;
    color: #000000;
    font-size: 10pt;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    margin: 0px;
}

h1, h2, h3, h4
{
    font-weight: bold;
}
h1
{
    font-size: 160%;
}
h2
{
    font-size: 140%;
}
h3
{
    font-size: 120%;
}
h4
{
    font-size: 100%;
}

img {
    border:0px;
}
a, a:visited {
    text-decoration:none;
}
a img,:link img,:visited img {
    border:none
}

table {
    border: 0px;
    border-collapse: collapse;
}
th
{
    text-align: left;
    padding: 10px 0px 10px 0px;
}

/*
 * Response messages
*/
.infomessage, .warningmessage, .errormessage
{
    color: Black;
    border: solid 1px Black;
    padding: 10px;
}
.infomessage
{
    background-color: #e8ffe8;
}
.warningmessage
{
    background-color: #e8e8ff;
}
.errormessage
{
    background-color: #ffe8e8;
}

td.label, td.labelwrap, td.labelbold
{
    width: 60px;
    text-align: left;
    vertical-align: middle;
    padding: 5px 5px 5px 0px;
}
td.label, td.labelbold, td.information
{
    white-space: nowrap;
}
td.labelbold
{
    font-weight: bold;
}
td.buttons
{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 15px;
}

td.infotable {
    border: solid 1px grey;
    background-color: #EEE4F8; /* Light purple */
    padding: 10px;
}

.hcommandButton
{
    font-size: 100%;
    width: 72px;
    height: 24px;
}
.hinputText, .hinputTextReadOnly
{
    font-size: 100%;
    height: 16px;
}
.hinputTextReadOnly
{
    background-color: #E8E8E8;
}
.hselectOneMenu
{
    font-size: 100%;
}
