<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>LogFilesPath</param-name>
        <param-value>/logs/UsersideScheduling.log</param-value>
    </context-param>
    <context-param>
        <!-- Logging level to use and can be any of: ALL, FINEST, FINER, FINE, INFO, CONFIG, WARNING, SEVERE, OFF -->
        <param-name>LogLevel</param-name>
        <param-value>INFO</param-value>
    </context-param>
    <context-param>
        <param-name>XmlConfigPropertiesPath</param-name>
        <param-value>/WEB-INF/ConfigProperties.xml</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UsersideSchedulingServlet</servlet-name>
        <servlet-class>uq.ilabs.usersidescheduling.UsersideSchedulingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>uq.ilabs.usersidescheduling.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewExpiredServlet</servlet-name>
        <servlet-class>uq.ilabs.usersidescheduling.ViewExpiredServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministrationServlet</servlet-name>
        <servlet-class>uq.ilabs.usersidescheduling.AdministrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementServlet</servlet-name>
        <servlet-class>uq.ilabs.usersidescheduling.ManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationServlet</servlet-name>
        <servlet-class>uq.ilabs.usersidescheduling.ReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersideSchedulingServlet</servlet-name>
        <url-pattern>/UsersideScheduling.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/faces/Logout.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewExpiredServlet</servlet-name>
        <url-pattern>/ViewExpired.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministrationServlet</servlet-name>
        <url-pattern>/administer.aspx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementServlet</servlet-name>
        <url-pattern>/manage.aspx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/Reservation.aspx</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/ViewExpired.do</location>
    </error-page>
</web-app>
